# Variables de entorno / credenciales
.env
.env.*
*.env
secrets.py
config_secret.py

# Archivos generados / reportes
*.png
*.html
*.csv

# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/
